.news-page {
    margin: 10px 48px;
    padding: 16px;
}

.News-header {
    background-color: #e9e9e9;
    color: #001351;
    font-family: var(--MNF_Heading_EN);
    font-size: 40px;
    font-weight: 800;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 10px;
    text-align: center;
}


.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 25px 0;
}

.pagination .page-btn {
    background-color: #f3f4f6;
    outline: none;
    border: 2px solid #DDDDDD;
    color: black;
    padding: 10px;
    cursor: pointer;
    width: 80px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--MNF_Body_EN);
    font-weight: 700;
    font-size: 15px;
    transition: 0.3s;
}

.pagination .page-btn.left {
    border-radius: 10px 0 0 10px;
}
.pagination .page-btn.leftar {
    border-radius: 0 10px 10px 0;
}


.pagination .page-btn.right {
    border-radius: 0 10px 10px 0;
}
.pagination .page-btn.rightar {
    border-radius: 10px 0 0 10px;
}

.pagination .page-btn.right:hover,
.pagination .page-btn.left:hover {
    background-color: #F66B15;
    color: white;
    border: none;
}

.pagination .page-btn.left:disabled,
.pagination .page-btn.right:disabled {
    background-color: #f3f4f6;
    color: rgb(136, 136, 136);
    border: 2px solid #DDDDDD;
    cursor: not-allowed;
}

.pagination .page-btn.number {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    margin: 0px 4px;
    background-color: white;
    color: black;
    font-weight: 600;
    transition: 0.3s;
}

.pagination .page-btn.number:hover,
.pagination .page-btn.number.active {
    background-color: #000820;
    color: white;
    border: none;
}

@media (max-width: 930px) {
    .news-page {
        margin: 10px 36px;
        padding: 14px;
    }
}

@media (max-width: 768px) {
    .news-page {
        margin: 10px 24px;
        padding: 8px;
    }

    .News-header {
        font-size: 30px;
    }

    @media (max-width: 480px) {
        .News-header {
            font-size: 25px;
        }
    }
}

@media (max-width: 550px) {
    .news-page {
        margin: 10px 5px;
        padding: 5px;
    }
}